<div th:fragment="sidebar">

<div id="wrapper">

		<!-- Sidebar -->
	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu">
					<li>
						<a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-sitemap fa-fw"></i>Profile<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><a th:href="@{'/user/'+${userId}+'/official'}">Official</a></li>
								<li><a th:href="@{/user/{userId}/personal(userId=${userId})}">Personal</a></li>
								<li><a th:href="@{/user/{userId}/experiences(userId=${userId})}">Experience</a></li>
								<li><a th:href="@{/user/{userId}/dependents(userId=${userId})}">Dependency</a></li>
								<li><a th:href="@{/user/{userId}/immigrations(userId=${userId})}">Visa and Immigration</a></li>
								
							</ul>
					</li>
			</ul>
		</div>
		</div>
	</div>
</div>
