<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:ddl="http://www.thymeleaf.org/dandelion"
	  xmlns:dt="http://github.com/dandelion/datatables"
	  ddl:bundle-includes="bootstrap3"
	  lang="en">

<head th:replace="fragments/header :: header"></head>

<body>

<div th:include="fragments/navBar :: navBar"></div>
	
<div th:include="fragments/sidebar :: sidebar"></div>	

  <!-- Page Content -->
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
            <!-- ... Your content goes here ... -->

        </div>
    </div>
</body>


</html>